PORT = 4040


# ===============================
# DATABASE (MariaDB / MySQL)
# ===============================
DB_HOST=localhost
DB_PORT=3306
DB_USER= #DB user
DB_PASSWORD= #DB password
DB_NAME=VAULT



# ===============================
# JWT SECRETS
# ===============================
ACCESS_TOKEN_SECRET = cc218da403c0a2b33cfc12760313621d2c547faa54339f6ad8f9d8f21bf9d5c0e7e2505f010c5f2c3a86ce9c776352073f1e1fd0bc9acf8f929bd3be5b9e482d

REFRESH_TOKEN_SECRET = 0f060115c892127d88f1656ff0429a5257631c6a59974febd0fb2220f45493c11fc21f95ae7a83c4c408dcb24582665f17f05c0fdb433209c09288f81e9ae702
ACCESS_TOKEN_EXPIRES_IN = 15m
REFRESHED_ACCESS_TOKEN_EXPIRES_IN = 7d


ENC_KEY = a3d0e5e1381ff15de8d920605d2a797fc6fa488ca30058085ad45374d744db22

# ===============================
# EMAIL SERVICES
# ===============================
EMAIL_SERVICE = gmail
EMAIL_USER = # email address
EMAIL_PASS = # email passcode
EMAIL_SUBJECT = Your OTP Code

# OTP_SESSION_TIMEOUT = 5m
OTP_SESSION_TIMEOUT = 5 * 60 * 1000 # 5 minutes in milliseconds
